/*
On préfixe les classes de "lmc-" (acronyme de Le Meilleur Coin) pour éviter d'éventuels conflits.
À cause de la cascade, il faut parfois booster la spécificité de certains sélecteurs pour éviter qu'ils ne soient écrasés par d'autres classes du site !
*/

span.lmc-prix {
  font-size: 2.5rem;
}

div.lmc-energie-lettre-active {
  font-size: 3rem;
  height: 3rem;
}

.lmc-lieu > a {
  font-size: 1.5rem;
  color: blue;
  text-decoration: underline;
  margin-right: 1rem;
}

.lmc-surligner {
  background-color: yellow;
}

.lmc-bouton-masquer {
  background-color: #ff6363;
  color: white;
  padding: 1rem 2rem;
  border-radius: 6px;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1.5rem;
}

.lmc-bouton-demasquer {
  background-color: limegreen;
}

.lmc-message-annonce-masquee {
  color:white;
  margin-top: 1.5rem;
  padding: .6rem 1.2rem;
  font-size: 1.7rem;
  background-color: black;
  border-radius: 6px;
}