/*
On préfixe les classes de "lmc-" (acronyme de Le Meilleur Coin) pour éviter d'éventuels conflits.
À cause de la cascade, il faut parfois booster la spécificité de certains sélecteurs pour éviter qu'ils ne soient écrasés par d'autres classes du site !
*/

:root {
  --lmc-background-color: rgb(243,245,247);
}

.lmc-terrain {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

span.lmc-prix {
  font-size: 2.5rem;
}

div.lmc-energie-lettre-active {
  font-size: 3rem;
  height: 3rem;
}

.lmc-departement > a {
  font-size: 1.5rem;
  color: blue;
  text-decoration: underline;
  margin-right: 1rem;
}

.lmc-label-energie {
  padding: 0 6px;
  align-self: flex-start;
  margin: 2px 0;
  border-radius: 6px;
}

.lmc-fieldset {
  display: flex;
  flex-direction: column;
  background-color: var(--lmc-background-color);
  margin-top: 1rem;
  border-radius: 6px;
  padding: 12px;
}

.lmc-legende {
  padding: 0 6px;
  border-radius: 6px;
  background-color: var(--lmc-background-color);
}

.lmc-filtre-terrain {
  
}

.lmc-filtre-terrain button {
  background-color: #4183d7;
  align-self: flex-start;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}