/*
On préfixe les classes de "lmc-" (acronyme de Le Meilleur Coin) pour éviter d'éventuels conflits.
À cause de la cascade, il faut parfois booster la spécificité de certains sélecteurs pour éviter qu'ils ne soient écrasés par d'autres classes du site !
*/

.lmc-label-energie {
  padding: 0 6px;
  align-self: flex-start;
  margin: 2px 0;
  border-radius: 6px;
}

.lmc-fieldset {
  display: flex;
  flex-direction: column;
  background-color: var(--lmc-background-color);
  margin-top: 1rem;
  border-radius: 6px;
  padding: 12px;
}

.lmc-legende {
  padding: 0 6px;
  border-radius: 6px;
  background-color: var(--lmc-background-color);
}

.lmc-filtre-terrain button {
  background-color: #4183d7;
  align-self: flex-start;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}