/*
On préfixe les classes de "lmc-" (acronyme de Le Meilleur Coin) pour éviter d'éventuels conflits.
À cause de la cascade, il faut parfois booster la spécificité de certains sélecteurs pour éviter qu'ils ne soient écrasés par d'autres classes du site !
*/

:root {
  --largeur-photo: 70%;
}

.lmc-label-energie {
  --size: 2.4rem;
  align-self: flex-start;
  margin: 2px 0;
  border-radius: 50%;
  font-size: 1.4rem;
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lmc-filtre-terrain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1.2rem;
  font-size: 1.4rem;
}

.lmc-titre-terrain {
  color: #8A8A8A;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  padding-top: 1.2rem;
  font-weight: 600;
  letter-spacing: .04em;
}

.lmc-filtre-terrain button {
  background-color: #4183d7;
  align-self: flex-start;
  padding: 0 1.5rem;
  margin-top: 1rem;
  border-radius: 4px;
  height: 4rem;
  color: white;
  font-weight: 600;
  font-size: 1.4rem;
}

.lmc-filtre-terrain input {
  --height: 3rem;
  margin: 0 .8rem 1.2rem;
  font-size: 1.4rem;
  border-radius: var(--height);
  border: 1px solid var(--lmc-accent-color);
  color: var(--lmc-accent-color);
  height: var(--height);
  max-width: 10rem;
  padding: 0 2rem;
  outline: none;
  max-width: 10.5ch;
  vertical-align: baseline;
}

.lmc-filtre-terrain input:focus,
.lmc-filtre-terrain input:active {
  box-shadow: 0 0 0 1px var(--lmc-accent-color);
}

.lmc-photo {
  flex-basis: var(--largeur-photo) !important;
}

.lmc-bouton-photo {
  --marge: 2rem;
  --size: 4rem;
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 50%;
  font-size: 2rem;
  background-color: white;
  border-radius: 50%;
  line-height: 1;
}

.lmc-bouton-avant {
  transform: rotate(.5turn) translateY(50%);
  left: var(--marge);
}

.lmc-bouton-apres {
  left: calc(var(--largeur-photo) - var(--marge));
  transform: translate(-100%, -50%);
}

span[data-qa-id="aditem_price"].lmc-item-prix {
  font-size: 4.8rem;
  margin-top: 1.2rem;
}

.lmc-infos-icone {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  margin-top: 1.6rem;
}

.lmc-infos-icone > img {
  margin-right: 1.6rem;
}

.lmc-infos-valeur {
  font-size: 2.4rem;
  margin-right: .5rem;
}